.header_icon_becomehost{

    margin-top: 20px;
    object-fit:contain;
    height: 40px;
    margin-left: 20px;
   
}
.becomehost_info_space{
    display: flex;
    width: 500px;
}

.becomehost_info{

    display: flex;
    margin-top: 100px;
    margin-left: 70px;
    width: 400px;
    font-weight: bold;
    font-size: 50px;
    
    
}

.become_host_btn{
    margin-left: 60px;
    margin-top: 20px;
    background-color:#C70039;
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    width: 300px;
    
}